<header>
    <app-navbar-logged></app-navbar-logged>
</header>

<body>
    <section>
        <div class="content">
            <div class="title-page">
                <h1>Sua Conta</h1>
            </div>
            <div class="avatar-section">
                <div class="avatar-frame">
                    <div class="avatar">
                        <img class="avatar-img" [src]=" '../../../assets/persondefault.svg'" alt="Avatar">
                    </div>
                </div>

                <label class="update-avatar-btn">
                    <span><i class="fas fa-lock lock-upload"></i>Mudar Foto</span>
                    <!-- <input type="file" /> -->
                </label>


                <button class="remove-avatar-btn">Remover</button>

            </div>


            <div class="form-section">
                <div>
                    <h2>Geral</h2>
                </div>
                <form [formGroup]="form" (ngSubmit)="onClickEdit()">

                    <p>
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Nome</mat-label>
                            <input matInput placeholder="Nome" [(ngModel)]="userName" formControlName="name" />
                            <mat-icon matSuffix>edit icon</mat-icon>
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>E-mail</mat-label>
                            <input matInput placeholder="E-mail" [(ngModel)]="userEmail" formControlName="email" />
                            <mat-icon matSuffix>edit icon</mat-icon>
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Descrição</mat-label>
                            <textarea matInput placeholder="Escreva sobre você..." [(ngModel)]="userDescription"
                                formControlName="description"></textarea>
                            <mat-icon matSuffix>edit icon</mat-icon>
                        </mat-form-field>
                    </p>

                    <div *ngIf="userType == 'influenciador'">
                        <p>
                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label>CPF</mat-label>
                                <input matInput placeholder="CPF" [(ngModel)]="userCpf" formControlName="cpf" />

                            </mat-form-field>
                        </p>
                    </div>

                    <div *ngIf="userType == 'empreendedor'">
                        <p>
                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label>CNPJ</mat-label>
                                <input matInput placeholder="CNPJ" [(ngModel)]="userCnpj" formControlName="cnpj" />

                            </mat-form-field>
                        </p>
                    </div>

                </form>

            </div>
            <div class="area-form ">
                <h2>Área de atuação</h2>

                <div class="area-section area-block">
                    <div>
                        <p>Área: <span></span></p>
                        <p>Segmento: <span></span></p>
                    </div>

                    <div>
                        <span><i class="fas fa-lock"></i></span>
                    </div>

                </div>
            </div>
            <div class="button-group">
                <button (click)="onClickBack()" class="back-button">Voltar</button>
                <button (click)="onClickEdit()" class="edit-button">Editar</button>
            </div>


        </div>

    </section>
</body>