<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sou Empreendedor</title>
</head>

<body>
    <app-navbar-home></app-navbar-home>

    <header class="header-page"></header>

    <section>

        <div class="body-context">
            <div class="title-box">
                <h1>Para Empreendedores</h1>
            </div>

            <p>
                Se você é um empreendedor ou representante de uma marca empresarial, sabe que um dos fatores de sucesso
                em campanhas de marketing de influência é um bom relacionamento entre marca e influenciador. A campanha
                precisa fazer sentido para ambos os lados, de acordo com segmento de atuação no mercado, público,
                conteúdo e engajamento, para que ambos se sintam à vontade durante a promoção.
            </p>

            <p>
                Se cadastrando na Catch u. você poderá recrutar influenciadores de forma fácil, rápida e assertiva,
                desenvolver campanhas com influenciadores e aumentar o alcance da sua mensagem, gerando mais audiência e
                engajamento do segmento que deseja.
            </p>

            <p>
                O cadastro é feito de forma rápida e gratuita, na qual você monta seu portfólio de negócio e seus
                objetivos de campanha. Recomendaremos influenciadores para você de acordo com seu segmento e nicho de
                atuação, mas você também pode procurar qualquer influenciador de seu interesse. Poderá receber ou enviar
                propostas e assim que aceitas realizará campanhas promocionais ou fechará patrocínios.
            </p>
        </div>

        <div class="back-button" (click)="goToHome()">
            <mat-icon>arrow_back_ios</mat-icon>
            <a>Voltar para a home</a>
        </div>
    </section>

</body>

</html>