<header>
    <app-navbar-logged></app-navbar-logged>
</header>

<body>
    <div class="influencer-form">
        <div class="heading-delete">
            <h1>Proposta Recebida de Empresa {{remetenteName}}</h1>
            <div class="icon-box">
                <mat-icon class="delete-icon" matSuffix (click)="onDelete()">delete icon</mat-icon>
            </div>
            <button  (click)="onDelete()">Deletar</button>
        </div>
        <form [formGroup]="proposalForm" class="send-proposal-form">
            <h4>Descrição da Proposta</h4>
            <div class="proposal-desription">
                <p>{{receivedProposal}}</p>
            </div>
        </form>

        <h4>Status da Proposta</h4>
        <h5>{{statusPropostaBody}}</h5>

        <h4>Já foi updated????</h4>
        <h5>{{updatedStatus}}</h5>
        <div class="footer-dialog" mat-dialog-actions>
            <div class="button-group">
                <button mat-dialog-close class="edit-button-accept button-space"
                    (click)="statusProposta('aceita')">Aceitar</button>
                <button class="edit-button-decline button-space" (click)="statusProposta('declinada')">Recusar</button>
                <button class="edit-button disabled"><i class="fas fa-lock lock-upload"></i> Contra-Proposta</button>

            </div>
            <div class="button-group">
                <button mat-dialog-close class="back-button" (click)="onClickCancel()">Voltar</button>
            </div>
        </div>
    </div>
</body>