body {
    background-color: transparent;
    display: flex;
    // align-items: center;
    justify-content: center;
}

.foreground {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;

    h1 {

        font-size: 50px;
    }
}

.form-box {
    background-color: white;
    width: 70%;
    height: 400px;
    border-radius: 6px;
    padding: 4rem;
    margin-top: 4rem;
    background-color: #fff;
    box-shadow: 1px 1px 30px #ccc;
    border-radius: 6px;

    .form-field {
        width: 100%;
    }

    .btn {
        height: 55px;
        width: 100%;
        margin-top: 3rem;
        background-color: aqua;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: rgb(141, 255, 255);

    }
}

@media(max-width: 1000px) {
    .form-box {
        width: 90%;
        padding: 2rem;
    }
}

@media(max-width: 500px) {
    .form-box {

        padding: 1rem;
    }
}