<header>
    <app-navbar-login></app-navbar-login>
</header>


<body>

    <div class="form-box">
        <h1>Esqueceu a senha?</h1>
        <h2>Informe seu email: </h2>

        <p>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input formControlName="email" matInput placeholder="Seu e-mail" />
                <mat-icon matSuffix>email icon</mat-icon>
            </mat-form-field>
        </p>

        <button class="btn" type="submit">Enviar</button>
    </div>


    <app-background-movement></app-background-movement>
</body>