<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sou Influencer</title>
</head>

<body>
    <app-navbar-home></app-navbar-home>

    <header class="header-page"></header>

    <section>

        <div class="body-context">
            <div class="title-box">
                <h1>Para Influenciadores</h1>
            </div>

            <p>Se você é um influenciador ou microinfluenciador, precisa estar ao alcance de marcas que façam sentido
                para
                você de acordo com seu conteúdo, com a nossa ajuda você fica visível para as marcas facilitando com que
                cheguem até você.
            </p>

            <p> Se cadastrando na Catch u. você poderá ser encontrado por marcas de diversos tamanhos e terá também
                liberdade para demonstrar seu interesse por elas enviando propostas de conexão para trabalharem juntos,
                aumentando assim seu alcance, engajamento e credibilidade com o público.
            </p>

            <p> O cadastro é feito de forma rápida e gratuita, na qual você monta seu portfólio e conecta suas redes
                sociais. Recomendaremos marcas para você de acordo com seu segmento e nicho de atuação, mas você também
                pode
                procurar qualquer marca de seu interesse. Poderá receber ou enviar propostas e assim que aceitas
                realizará
                campanhas promocionais ou fechará patrocínios.
            </p>

            <p>
                Sabemos que a carreira de influenciador é relativamente nova e seu lado burocrático ainda é pouco
                conhecido
                e discutido, nos preocupamos com seu sucesso nessa carreira, portanto oferecemos conteúdos educativos
                relacionados a requisitos contratuais, boas práticas de mercado, assessoria, direito de imagem e muito
                mais,
                para que você possa aproveitar o máximo dessa carreira sem nenhum prejuízo.
            </p>
        </div>

        <div class="back-button" (click)="goToHome()">
            <mat-icon>arrow_back_ios</mat-icon>
            <a>Voltar para a home</a>
        </div>
    </section>

</body>

</html>