<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catch u.</title>
</head>

<body>

  <app-navbar-home></app-navbar-home>

  <header class=" header-page">
    <h1>BEM-VINDO À CATCH U.</h1>
    <p>Conecte-se com oportunidades</p>
    <a class="box-btn" (click)="goToMoreCatchu()">Mais informações</a>
  </header>

  <section id="influencer" class="box">
    <h1>Para Influenciadores</h1>
    <p>Se você é um influenciador ou microinfluenciador precisa estar ao alcance de marcas que façam sentido para
      você
      de acordo com seu conteúdo, com a nossa ajuda você fica visível para as marcas facilitando com que cheguem até
      você.</p>
    <a class="box-btn" (click)="goToMoreInfluencer()">Mais informações</a>
  </section>


  <section id="enterprise" class="box-enterprise">
    <h1>Para Empreendedores</h1>
    <p>Se você é um empreendedor ou representante de uma marca empresarial sabe que um dos fatores de sucesso em
      campanhas de marketing de influência é um bom relacionamento entre marca e influenciador, a campanha precisa
      fazer
      sentido para ambos os lados, de acordo com segmento de atuação no mercado, público, conteúdo e engajamento,
      para
      que ambos se sintam à vontade durante a promoção.</p>
    <a class="box-btn" (click)="goToMoreEnterprise()">Mais informações</a>
  </section>


  <footer>
    <div class="container">
      <img class="logo" src="../../../assets/logoUAzul.svg" alt="Logo" />
      <div class="footer-flex">
        <div>
          <h3>Contato</h3>
          <div class="contact">
            <i class="fa-solid fa-envelope"></i>
            <p>contato.catchu@gmail.com</p>
          </div>
        </div>
        <div>
          <h3>Redes sociais</h3>
          <ul class="social-icons">
            <li><a href="https://m.facebook.com/Catchuoficial"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/_Catchu"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="https://instagram.com/catchu.oficial?igshid=YmMyMTA2M2Y="><i
                  class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://www.tiktok.com/@catchu.oficial"><i class="fa-brands fa-tiktok"></i></a></li>
            <li><a href="https://www.youtube.com/@Catchu."><i class="fa-brands fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>