<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre a Catch u.</title>
</head>

<body>
    <app-navbar-home></app-navbar-home>

    <header class="header-page"></header>

    <section>

        <div class="body-context">
            <div class="title-box">
                <h1>Mais sobre a Catch u.</h1>
            </div>

            <p>
                De um lado, influenciadores que buscam aumentar cada vez mais seu alcance, engajamento com o público e
                sua credibilidade como criadores de conteúdo, do outro, empreendedores que buscam um perfil que combine
                com sua marca para divulgar seu produto ou serviço ajudando na publicidade da marca e na aquisição de
                novos clientes. Dois lados que possuem um problema em comum, a dificuldade em encontrar o perfil ideal
                de parceria para seu negócio.
            </p>

            <p>
                Diante desse problema nasce a Catch u., uma empresa de tecnologia atuante no mercado de marketing de
                influência baseado em dados, que tem como maior preocupação facilitar a busca de empresas e
                influenciadores por parcerias duradouras que façam sentido para ambos os lados e possua benefícios
                mútuos.
            </p>

            <p>
                Acreditamos no poder das conexões, por isso temos como missão democratizar o acesso de qualquer tipo de
                influenciador a campanhas publicitárias de pequenas, médias e grandes empresas. Nosso principal
                diferencial é estar envolvido no desenvolvimento da influência digital no país, ajudando e orientando
                novos influenciadores para ingresso e sucesso nessa carreira.
            </p>

            <p>
                Sabemos que a carreira de influenciador é relativamente nova e seu lado burocrático ainda é pouco
                conhecido e discutido, nos preocupamos com seu sucesso nessa carreira, portanto oferecemos conteúdos
                educativos relacionados a requisitos contratuais, boas práticas de mercado, assessoria, direito de
                imagem e muito mais, para que você possa aproveitar o máximo dessa carreira sem nenhum prejuízo.
            </p>
        </div>

        <div class="back-button" (click)="goToHome()">
            <mat-icon>arrow_back_ios</mat-icon>
            <a>Voltar para a home</a>
        </div>
    </section>

</body>

</html>